page-home {
    .btn {
        background-color: #5e9200;
        margin-top: 32%;
        height: 41px;
        text-align: center;
        padding: 12px;
        color: #fff;
        width: 54%;
        margin-left: 23%;
        border-radius: 10px;
      }
      .imgdiv{
          content:url("../assets/imgs/load_img.png");
          height:100%;
          width:100%;
      }
}
